<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Pythonの2歩目でWebアプリケーションを作る with Django</title>
  </head>
  <body>
    <div class="container">
      <p>
        <span class="py">Py</span><span class="thon">thon</span>
      </p>
      <p>
        <span class="programming">プログラミングの</span>
      </p>
      <p>
        <span class="step2">2歩目</span>
        <span class="de">で</span>
      </p>
      <p>
        <span class="webapp">Webアプリ</span>
      </p>
      <p>
        <span class="make">を作る</span>
      </p>
      <p>
        <span class="with">with</span>
        <span class="django">Django</span>
      </p>
      <p class="onishi">オーニシ（@onishi_feuer）/ 大西 陽平 著</p>
    </div>
  </body>
</html>
